
/*small 480 and smaller*/
@media (max-width: 560px) {
	body {
		background: green;
	}
	#mainContainer {
		width: 95%;
		margin: 0 auto;
		border: 1px solid black;
		background: white;
	}
	header {
		height: 130px;
		background: lightgrey;
		text-align: center;

	}
	header img {
		width: 100px;
		margin-top:15px;
	}
	nav {
		/*height: 35px;*/
		background: black;
		padding:10px;
		margin-bottom: 20px;
		text-align: center;
	}
	nav ul {
		-webkit-padding-start: 0;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
	}	
	nav li {
		display: inline;
	}
	nav li a {
		color: yellow;
		text-decoration: none;
		font-weight: bold;
		font-size: 22px;
		line-height: 180%;
	}
	.contentbox {
		background: lightgrey;
		padding: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
	.contentbox img {
		width: 100%;
	}
	.contentbox p {
		color: white;
		font-size: 100%;
		line-height: 150%;
		text-align: left;
	}
	/*ensure that image does not show at this res*/
	#slideshow {
		display: none;
	}
	article {
		width: 95%; 
		margin-left: 10px;
	}
	.news {
		margin-bottom: 20px;
	}
	.news h2 {
		margin-bottom: -15px;
		font-size: 200%;		
	}
	.news p {
		line-height: 150%;
	}
	footer {
		margin-bottom: 0px;
	}
}

/*medium 481-1023*/
@media (min-width: 561px){
	body {
		background: khaki;
	}
	#mainContainer {
		width: 95%;
		margin: 0 auto;
		border: 1px solid black;
		background: white;
	}
	header {
		height: 130px;
		background: lightgrey;
	}
	header img {
		width: 100px;
		margin-left: 20px;
		margin-top: 15px;
	}
	nav {
		/*height: 35px;*/
		background: black;
		padding:10px;
		margin-bottom: 20px;
		text-align: center;
	}
	nav ul {
		-webkit-padding-start: 0;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
	}	
	nav li {
		display: inline;
	}
	nav li a {
		color: yellow;
		text-decoration: none;
		font-weight: bold;
		font-size: 22px;
		line-height: 200%;
	}
	#slideshow {
		width: 90%;
		margin: 10px auto;
	}
	#slideshow img {
		width: 100%;
	}
	.contentbox {
		background: lightgrey;
		padding: 10px;
		margin-bottom: 10px;
		height: 320px;
	}
	.contentbox img {
		float: left;
		margin-top: 10px;		
		margin-right: 10px;
	}
	.contentbox p {
		color: white;
		font-size: 100%;
		line-height: 150%;
		margin-top: 25px;
	}
	article {
		width: 95%; 
		margin-left: 10px;
	}
	.news {
		margin-bottom: 20px;
	}
	.news h2 {
		margin-bottom: -15px;
		font-size: 200%;		
	}
	.news p {
		line-height: 150%;
	}
	
	footer nav {
		margin-bottom: 0;
	}
}

/*large 1024 and up*/
@media(min-width: 1024px){
	body {
		background: dodgerblue;
	}
	#mainContainer {
		width: 960px;
		margin: 0 auto;
		border: 1px solid black;
		background: white;
	}
	header {
		width: 960px;
		height: 130px;
		background: orange;
	}
	header img {
		width: 100px;
		margin-left: 20px;
		margin-top: 15px;
	}
	nav {
		width: 960px;
		height: 35px;
		background: black;
		padding: 10px 0;
		margin-bottom: 20px;
		text-align: center;
	}
	nav ul {
		-webkit-padding-start: 0;
		-moz-padding-start: 0;
		-webkit-margin-before: 0;
		-moz-margin-before: 0;
		-webkit-margin-after: 0;
		-moz-margin-after: 0;
		margin-top:0;
	}
	nav li {
		display: inline;
	}
	nav li a {
		color: yellow;
		text-decoration: none;
		font-weight: bold;
		font-size: 22px;
	}
	nav li a:hover {
		color: white;
	}
	#slideshow {
		width: 840px;
		height: 300px;
		margin: 0 auto;
		background: red;
	}
	#slideshow img {
		height: 300px;
	}
	.contentbox {
		width: 285px;
		height: 400px;
		background: orange;
		padding: 10px;
		margin: 10px 0 10px 10px;
		float: left;
	}
	.contentbox img {
		margin-top:0;
		z-index: 1;
	}
	.contentbox p {
		color: white;
	}
	.wrapper {
		position: relative;
		display: block;
	}
	.text {
		position: absolute;
		top:0;
		left:0;
		color: white;
		font-size: 20px;
		background-color: rgba(0,0,0,.5);
		width: 285px;
		height: 190px;
		opacity:0;
		z-index: 10;
		text-align: center;
		line-height: 192px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.text:hover {
		opacity:1;
	}

	article {
		width: 940px;
		margin-left: 10px;
	}
	.news {
		margin-bottom: 20px;
	}
	.news h2 {
		margin-bottom: -15px;
	}
	footer nav {
		margin-bottom: 0;
	}
	footer nav li a {
		font-size: 12px;
		font-weight: normal;
	}
	footer nav li a:hover {
		color: white;
	}
	.grid-box1 {
		width: 285px;
		height: 400px;
		padding: 10px;
		margin: 10px 0 10px 10px;
		float: left;
		position: relative;
		/*background: orange;*/
	}
	.caption {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.5);
		width: 100%;
		height: 100%;
	}
	.caption h3 {
		color: #fff;
		margin: 20px;
	}
	.caption h3 {
		margin: 20px 20px 10px;
	}
}